:root {
    --primaryText: #212121;
    --secondaryText: #FBEAFF;
    --darkPrimaryColor: #388e3c;
    --primaryColor: #ffeb3b;
    --colorBrown: #5D4037;
    --colorBlue: #004BCB;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Rajdhani', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondaryText);
    font-size: 1.6rem;
    font-weight: 500;
}
a:hover {
    text-decoration: underline var(--darkPrimaryColor);
    color: var(--primaryColor);
    transition: all .3s;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header {
    background-color: #757575;
    width: 500px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}
.header__img {
    width: 25%;
    height: 40px;
    margin: 20px 10px;
}
.header__title {
    width: 75%;
    margin: 20px 10px;
    padding: 10px 0;
}
.header__title a {
    font-size: 3rem;
    color: var(--primaryColor);
    text-align: center;
}
main {
    background-image: linear-gradient(to top, #5d4037, #654c4d, #695960, #6d686d, #757575);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 10px 0px 20px 0px;
    width: 500px;
}
.login {
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 40px;
    color: var(--secondaryText);
    padding: 40px 68px 40px;
    min-height: 700px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container h2 {
    font-size: 2.4rem;
    font-weight: 700;
}
.login__container--form {
    display: flex;
    flex-direction: column;
}
.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}
.login__container--register {
    font-size: 1.6rem;
    font-weight: 500;
}
.login__container--register a {
    font-size: 2rem;
    font-weight: 700;
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder {
    color: var(--secondaryText);
}
.button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: var(--secondaryText);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 15px 0px;
}
.footer {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: var(--colorBrown);
}
.footer a {
    padding-left: 30px;
}
